.container__tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: auto;

}

.container__tabs_wrapper {
    padding-top:99px;
}

.tabs__radio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px Solid #C6CBCD;

}

.tabs {
    padding: 10px 16px;
    padding-left: 73px;
    padding-top: 10px;
    padding-right: 73px;
    padding-bottom: 11px;
}

.tabs__body {
    display:flex;
}

.tabs_active {
    border: 1px Solid #C6CBCD;
    border-bottom: 0px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}

.tabs__content {
    border: 1px Solid #C6CBCD;
    border-top: 0px;
}

.tabs__content-wrapper{
    justify-content: center;
    align-items: center;
    
}
.tabs__content-header h3{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    min-width: 570px;
    min-height: 124px;
    padding:1px 30px 27px 100px;
}

.tabs__content-main-wrapper{
    display:flex;
    flex-direction: row;
    min-width: 570px;
    min-height: 210px;
}

.tabs__content-main-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 100px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.tabs__image {
    min-width: 470px;
    overflow: auto;
}

.tabs__button {
padding-left: 100px ;
padding-bottom: 54px;
}

.tabs__button-wrapper {    
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    text-align: center;


}

.tabs__button-wrapper span{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-align: center;

}

