.pricing {
    background-color: #f5f5f5;
}

.pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1170px;
    align-items: center;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin: auto;
}

.pricing__header-caption {
    padding: 50px 0px 40px 0px;
}
.pricing__header-caption h2 {
    font-weight: 400;
    font-size: 36px;
}

.pricing__body-content-text {
    padding: 40px 0px 59px 0px;
    color: #86878b;
}

.pricing__cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pricing__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px 50px 15px;
    min-width: 370px;
}

.pricing__cards-tarif {
    background-color: #333333;
    border-bottom: 2px #f5f5f5 solid;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__cards-price {
    background-color: #333333;
    border-bottom: 2px #f5f5f5 solid;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__cards_active {
    margin-bottom: 70px;
    border: 2px #f5f5f5 solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pricing__cards-life {
    background-color: #333333;
    border-bottom: 2px #f5f5f5 solid;
    color: #ffffff7e;
    font-size: 18px;
    font-weight: 400;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__cards-space {
    min-height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #86878b;
}
